* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.img_wrapper{
    width: 350px;
    height: 200px;
    overflow: hidden;
    margin: 50px 0;
}

.img {
    width: 100%;
    height: 100%;
}

.img_wrapper:hover .img{
    transform: scale(110%);
    transition: transform .5s ease-in-out;
}

.loader {
    border: 15px red solid;
    border-bottom-color: transparent;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: spin 2s ease-out infinite;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.test{
    width: 400px;
    height: 100px;
    background-color: #737272;
    border: 5px solid red;
    padding: 25px;
    overflow-y: auto;
    overflow-x: hidden;
}

.test2{
    width: 500px;
}

h1 {
    text-align: center;
}

.error-parahraph {
    color: red;
}


.primary-paragraph {
    color:blue;
}

.btn {
    border: 0;
    outline: 0;
    color: #fff;
    /* background-color: red; */
    /* background: linear-gradient(-45deg, #f09,#09a1ed); */
    background-color: #f09;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    /* margin: 5px; */
    transition: border-radius .2s, background-color .2s;
}

.btn:hover{
border-radius: 10px;
background-color: #ff00ea;
transition: border-radius .5s, background-color 2s;
}

.btn:active{
    background-color: #000;
}


.father .child {
    color: #f09;
}

.mother .child {
    color: #0d00ff;
}

